.prompt {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #50fa7b;
  resize: none;
}

.copyButton{
  background-color: #50fa7b;
  /* align-self: flex-end; */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1vh;
  padding: 1vh;
}
