.mainContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  background-color: #282a36;
}

.header {
  height: 50%;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  justify-content: center;
  background-color: #44475a;
  width: 75%;
  color: #bd93f9;
  align-items: center;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 80%;
  margin: auto;
}

.formContainer {
  height: 50%;
  width: 70%;
  margin: auto;
  background-color: #44475a;
  color: #8be9fd;
}

.promptContainer {
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 50%;
  width: 70%;
  background-color: #44475a;
  position: relative;
}

.footer {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  color: #bd93f9;
}
